################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/courseinfo/.vs
/courseinfo1.2/.vs
/courseinfo1.2/package-lock.json
/courseinfo1.2/package.json
/courseinfo1.3/.vs
/courseinfo1.4/.vs
