################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/courseinfo/.vs
/courseinfo1.2/.vs
/courseinfo1.2/package-lock.json
/courseinfo1.2/package.json
/courseinfo1.3/.vs
/courseinfo1.4/.vs
/courseinfo1.5/.vs
/complexstatecourseinfo/.vs
/FullStackOpen Bookmark.txt
/unicafe1.6/.vs/unicafe1.6/CopilotIndices/17.14.698.11175
/unicafe1.6/.vs
/anecdotes/.vs
/collections/.vs
/course/.vs
/phonebook/.vs
